<!DOCTYPE html>
<html lang="fr">

<head>
    <title> Ohmyfood </title>
	<meta charset="utf-8"/>
	<meta name="description" content="Ohmyfood, Menu Le chic à la française !">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@GinoDEVmignano">
    <meta name="twitter:title" content="ohmyfood">
    <meta name="twitter:description" content="Réservation de restaurants et composition de menus en ligne.">
    <meta name="twitter:creator" content="@GinoDEVmignano">
    <!-- meta facebook -->
    <meta property="og:title" content="ohmyfood">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="réservation de restaurants et de composition de menus en ligne.">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    
    <!-- En-tete Ohmyfood du site -->
    <header>

        <div class="head_page">
            <a href="../index.html" ><h1>ohmyfood</h1></a>
        </div>

    </header>

    <!-- Menu Le chic à la française -->
    <section>

        <div class="menu_presentation menu_presentation--francaise">

            <!-- Nom du menu Le chic a la francaise -->
            <div class="head_menu head_menu--francaise">
                <h2  class="menu_presentation__title"> Le chic à la française </h2>
            </div>

            <!-- Entrée -->
            <div class="bloc_menu bloc_menu--francaise1">
                <div class="bloc_menu__head">
                    <img src="../images/entreegauche1.png" alt="barre">
                    <h3> Pour se mettre en appétit </h3>
                    <img src="../images/entreedroit1.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Tartare de poulpe acidulé aux zests d'orange</p>
                    <p><span>79€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Velouté de légumes d'antan</p>
                    <p><span>57€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Soupe à l'oignon revisité</p>
                    <p><span>57€</span></p>
                </div>
            </div>

            <!-- Plat -->
            <div class="bloc_menu bloc_menu--francaise2">
                <div class="bloc_menu__head">
                    <img src="../images/platgauche2.png" alt="barre">
                    <h3> Plaisir des papilles </h3>
                    <img src="../images/platdroit2.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Coquilles Saint-Jacques accompagnées d'une purée de panais</p>
                    <p><span>95€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Magret de canard et parmentier de pommes de terres</p>
                    <p><span>88€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Pigeonneau d'Ille et Vilaine sur son lit de gnocchis aux légumes</p>
                    <p><span>175€</span></p>
                </div>
            </div>

            <!-- Dessert -->
            <div class="bloc_menu bloc_menu--francaise3">
                <div class="bloc_menu__head">
                    <img src="../images/dessertgauche3.png" alt="barre">
                    <h3> Gourmandises sucrées </h3>
                    <img src="../images/dessertdroit3.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Pétales de violettes glacés et purée de noisettes</p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Fondant au chocolat revisité</p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Millefeuille croustillant</p>
                </div>
            </div>

        </div>

    </section>

    <!-- Bas de page fixe -->
    <footer>

        <div class="foot_page">
            <div class="foot_page__btn"><a href="mentions_legales.html"  class="lien">Mentions légales</a></div>
            <div class="foot_page__btn foot_page__btn--contact"><a href="mailto:mignanogino2@gmail.com"  class="lien">Contactez-nous</a></div>
        </div>

    </footer>
 
</body>

</html>