<!DOCTYPE html>
<html lang="fr">

<head>
    <title> Ohmyfood </title>
	<meta charset="utf-8"/>
	<meta name="description" content="Ohmyfood, Menu Le délice des papilles !">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@GinoDEVmignano">
    <meta name="twitter:title" content="ohmyfood">
    <meta name="twitter:description" content="Réservation de restaurants et composition de menus en ligne.">
    <meta name="twitter:creator" content="@GinoDEVmignano">
    <!-- meta facebook -->
    <meta property="og:title" content="ohmyfood">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="réservation de restaurants et de composition de menus en ligne.">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    
    <!-- En-tete Ohmyfood du site -->
    <header>

        <div class="head_page">
            <a href="../index.html" ><h1>ohmyfood</h1></a>
        </div>

    </header>

    <!-- Menu Le délice des papilles -->
    <section>

        <div class="menu_presentation menu_presentation--papilles">

            <!-- Nom du menu Le délice des papilles -->
            <div class="head_menu head_menu--papilles">
                <h2  class="menu_presentation__title"> Le délice des papilles </h2>
            </div>

            <!-- Entrée -->
            <div class="bloc_menu">
                <div class="bloc_menu__head">
                    <img src="../images/entreegauche4.png" alt="barre">
                    <h3> Pour bien commencer </h3>
                    <img src="../images/entreedroite4.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Tartare de thon assaisoné au yuzu</p>
                    <p><span>55€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Bouchée de homard croustillant et sa farandole de petits légumes</p>
                    <p><span>89€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Velouté de cèpes aux truffes</p>
                    <p><span>56€</span></p>
                </div>
            </div>

            <!-- Plat -->
            <div class="bloc_menu">
                <div class="bloc_menu__head">
                    <img src="../images/platsgauche5.png" alt="barre">
                    <h3> Pour bien continuer </h3>
                    <img src="../images/platsdroite5.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Poulet rôti aux herbes de provence et sa crème de truffe</p>
                    <p><span>110€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>langouste rôtie et ses légumes de saison</p>
                    <p><span>225€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Côte de boeuf angus et sa purée de panais</p>
                    <p><span>115€</span></p>
                </div>
            </div>

            <!-- Dessert -->
            <div class="bloc_menu">
                <div class="bloc_menu__head">
                    <img src="../images/dessertsgauche6.png" alt="barre">
                    <h3> Pour bien terminer </h3>
                    <img src="../images/dessertsdroite6.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Frandole de desserts du chef</p>
                    <p><span>55€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Crème brulée revisitée</p>
                    <p><span>60€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Tiramisu à la noisette</p>
                    <p><span>55€</span></p>
                </div>
            </div>

        </div>

    </section>

    <!-- Bas de page fixe -->
    <footer>

        <div class="foot_page">
            <div class="foot_page__btn"><a href="mentions_legales.html"  class="lien">Mentions légales</a></div>
            <div class="foot_page__btn foot_page__btn--contact"><a href="mailto:mignanogino2@gmail.com"  class="lien">Contactez-nous</a></div>
        </div>

    </footer>
 
</body>

</html>