<!DOCTYPE html>
<html lang="fr">

<head>
    <title> Ohmyfood </title>
	<meta charset="utf-8"/>
	<meta name="description" content="Ohmyfood, Menu La note enchantée !">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@GinoDEVmignano">
    <meta name="twitter:title" content="ohmyfood">
    <meta name="twitter:description" content="Réservation de restaurants et composition de menus en ligne.">
    <meta name="twitter:creator" content="@GinoDEVmignano">
    <!-- meta facebook -->
    <meta property="og:title" content="ohmyfood">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="réservation de restaurants et de composition de menus en ligne.">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>

    <!-- En-tete Ohmyfood du site -->
    <header>

        <div class="head_page">
            <a href="../index.html" ><h1>ohmyfood</h1></a>
        </div>

    </header>

    <!-- Menu La note enchantée -->
    <section>

        <div class="menu_presentation menu_presentation--enchantee">

            <!-- Nom du menu Le délice des papilles -->
            <div class="head_menu head_menu--enchantee">
                <img src="../images/notedemusique.png" alt="image note de musique"></a>
                <h2  class="menu_presentation__title"> La note enchantée </h2>
            </div>

            <!-- Entrée -->
            <div class="bloc_menu">
                <div class="bloc_menu__head">
                    <img src="../images/barregauche1.png" alt="barre">
                    <h3> Prélude </h3>
                    <img src="../images/barredroite1.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Raviole de foie gras accompagnés de leur crème à la truffe</p>
                    <p><span>98€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Caviar osciètre sur blini à la farine de blé noir</p>
                    <p><span>115€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Homard et espuma de potiron mariné aux zests d'orange</p>
                    <p><span>89€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Foie gras de canard cuit entier, confiture de figue et pain toasté</p>
                    <p><span>105€</span></p>
                </div>
            </div>

            <!-- Plat -->
            <div class="bloc_menu">
                <div class="bloc_menu__head">
                    <img src="../images/barregauche1.png" alt="barre">
                    <h3> Point d'orgue </h3>
                    <img src="../images/barredroite1.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Noix de coquilles Saint-Jacques sur lit de purée de céleri-rave</p>
                    <p><span>102€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Langoustine poêlée, purée de patate douce</p>
                    <p><span>205€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Mijoté de queue de boeuf et riz sauvage aux zests de citron</p>
                    <p><span>169€</span></p>
                </div>
            </div>

            <!-- Dessert -->
            <div class="bloc_menu">
                <div class="bloc_menu__head">
                    <img src="../images/barregauche1.png" alt="barre">
                    <h3> Mouvement final </h3>
                    <img src="../images/barredroite1.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Macaron de noisette et chocolat, glace au caramel brun et sel de Guérande</p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Baba au rhum revisité avec son coulis de citron</p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Tarte au citron meringuée destructurée</p>
                </div>
            </div>

            <!-- Nom du menu -->
            <div class="foot_menu">
                <img src="../images/notedemusique.png" alt="image note de musique"></a>
                <h2> La note enchantée </h2>
            </div>

        </div>

    </section>

    <!-- Bas de page fixe -->
    <footer>

        <div class="foot_page">
            <div class="foot_page__btn"><a href="mentions_legales.html"  class="lien">Mentions légales</a></div>
            <div class="foot_page__btn foot_page__btn--contact"><a href="mailto:mignanogino2@gmail.com"  class="lien">Contactez-nous</a></div>
        </div>

    </footer>
 
</body>

</html>