<!DOCTYPE html>
<html lang="fr">

<head>
    <title> Ohmyfood </title>
	<meta charset="utf-8"/>
	<meta name="description" content="Ohmyfood, Menu La palette du goût !">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@GinoDEVmignano">
    <meta name="twitter:title" content="ohmyfood">
    <meta name="twitter:description" content="Réservation de restaurants et composition de menus en ligne.">
    <meta name="twitter:creator" content="@GinoDEVmignano">
    <!-- meta facebook -->
    <meta property="og:title" content="ohmyfood">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="réservation de restaurants et de composition de menus en ligne.">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>

    <!-- En-tete Ohmyfood du site -->
    <header>

        <div class="head_page">
            <a href="../index.html" ><h1>ohmyfood</h1></a>
        </div>

    </header>

    <!-- Menu La palette du goût -->
    <section>

        <div class="menu_presentation menu_presentation--gout">

            <!-- Nom du menu La palette du gout -->
            <div class="head_menu head_menu--gout">
                <h2  class="menu_presentation__title"> La palette du goût </h2>
            </div>

            <!-- Entrée -->
            <div class="bloc_menu">
                <div class="bloc_menu__head">
                    <img src="../images/goutgauche7.png" alt="barre">
                    <h3> Esquisse </h3>
                    <img src="../images/goutdroite7.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Fricassée d'escargot au piment d'espelette</p>
                    <p><span>60€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Oeuf au plat assaisonné à la truffe sur lit de caviar</p>
                    <p><span>55€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Foie gras de canard mi-cuit et ses copeaux de truffe noire</p>
                    <p><span>65€</span></p>
                </div>
            </div>

            <!-- Plat -->
            <div class="bloc_menu">
                <div class="bloc_menu__head">
                    <img src="../images/goutgauche8.png" alt="barre">
                    <h3> Oeuvre de maître </h3>
                    <img src="../images/goutdroite8.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Filet de boeuf aux herbes accompagné de sa ribambelle de légumes</p>
                    <p><span>70€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Parmentier de queue de boeuf à la truffe noire sur sa purée de panais</p>
                    <p><span>85€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Filet de Turbot aux agrumes</p>
                    <p><span>125€</span></p>
                </div>
            </div>

            <!-- Dessert -->
            <div class="bloc_menu">
                <div class="bloc_menu__head">
                    <img src="../images/goutgauche9.png" alt="barre">
                    <h3> Au sommet de l'art </h3>
                    <img src="../images/goutdroite9.png" alt="barre">
                </div>
                <div class="bloc_menu__ligne">
                    <p>Paris-Brest revisité</p>
                    <p><span>55€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Macaron au chocolat d'exception et glace à la vanille de Madagascar</p>
                    <p><span>65€</span></p>
                </div>
                <div class="bloc_menu__ligne">
                    <p>Mousse au chocolat au piment d'espelette et à la truffe noire</p>
                    <p><span>60€</span></p>
                </div>
            </div>

        </div>

    </section>

    <!-- Bas de page fixe -->
    <footer>

        <div class="foot_page">
            <div class="foot_page__btn"><a href="mentions_legales.html"  class="lien">Mentions légales</a></div>
            <div class="foot_page__btn foot_page__btn--contact"><a href="mailto:mignanogino2@gmail.com"  class="lien">Contactez-nous</a></div>
        </div>

    </footer>
 
</body>

</html>