@font-face {

    font-family: 'caveatregular';
    src: url('../font/caveat-regular-webfont.woff2') format('woff2'),
         url('../font/caveat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {

    font-family: 'caveatbold';
    src: url('../font/caveat-bold-webfont.woff2') format('woff2'),
         url('../font/caveat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {

    font-family: 'montserratregular';
    src: url('../montserrat-regular-webfont.woff2') format('woff2'),
         url('../montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {

    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2'),
         url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'roboto_slabregular';
    src: url('../font/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../font/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'roboto_slabbold';
    src: url('../font/robotoslab-bold-webfont.woff2') format('woff2'),
         url('../font/robotoslab-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'dancing_script_otregular';
    src: url('../font/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../font/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    
    font-family: 'kaushan_scriptregular';
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}